@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Nunito:ital,wght@0,800;1,800&family=Playfair+Display:wght@400;700&family=Poppins:wght@800&family=Roboto:wght@700&display=swap');
.conaiter-fluid{
    background: #F9E0AE;
    height: 7.75rem;
}

.container{
    display: flex;
    padding-top:2.5rem;
}

.logo{
    font-family: Jim Nightshade;
}
